#text1{
  width: 500px;
  height: 35px;
  margin-top: 3px;
}
body{
  justify-content: center;
}
li{
  
  border-radius: 25px;
  padding: 20px;
  border: 2px solid lightgrey;
  width: 30%



}
button{
  margin-top: -7px;
}
